<div class="cadastro2-container">
    <div class="titulo">
        <h2>Cadastro</h2>
    </div>

    <div class="legenda-titulo">
        <h3>Digite suas informações para fazer o cadastro!</h3>
    </div>

    <div class="formulario">
        <form [formGroup]="cadastro2Form" (ngSubmit)="onSubmit()">

            <div class="div-input">
                <label for="altura">Altura:</label>
                <input type="number"  step="1" placeholder="Altura: 170" formControlName="altura">
                <div *ngIf="cadastro2Form.get('altura')?.invalid && cadastro2Form.get('altura')?.touched" class="error">
                    <div *ngIf="cadastro2Form.get('altura')?.errors?.['required']">Altura é obrigatória</div>
                    <div *ngIf="cadastro2Form.get('altura')?.errors?.['min']">A altura minima permitida é 30 cm</div>
                    <div *ngIf="cadastro2Form.get('altura')?.errors?.['max']">A altura máxima permitida é 300 cm</div>
                </div>
            </div>

            <div class="div-input">
                <label for="peso">Peso:</label>
                <input type="number" step="0.1" placeholder="Peso: 73.3" formControlName="peso">
                <div *ngIf="cadastro2Form.get('peso')?.invalid && cadastro2Form.get('peso')?.touched" class="error">
                    <div *ngIf="cadastro2Form.get('peso')?.errors?.['required']">O peso é obrigatório</div>
                    <div *ngIf="cadastro2Form.get('peso')?.errors?.['min']">O peso mínimo é 20kg</div>
                    <div *ngIf="cadastro2Form.get('peso')?.errors?.['max']">O peso máximo é 400kg</div>
                </div>
            </div>

            <div class="div-input">
                <label for="dataNascimento">Data de Nascimento:</label>
                <input type="date" placeholder="Data de nascimento: 01/01/2002" formControlName="dataNascimento" style="color: #757575;">
                <div *ngIf="cadastro2Form.get('dataNascimento')?.invalid && cadastro2Form.get('dataNascimento')?.touched" class="error">
                    <div *ngIf="cadastro2Form.get('dataNascimento')?.errors?.['required']">A data de nascimneot deve ser preenchida</div>
                </div>
            </div>

            <button type="submit" [disabled]="cadastro2Form.invalid">Finalizar cadastro</button>
        </form>

        <div *ngIf="errorMessage" class="error-message">
            {{errorMessage}}
        </div>
    </div>
</div>