<div class="menu" style="font-family: 'FeatherBold';">

  <button mat-button type="button" (click)="irParaHome()" class="mikcal-button">MiKcal</button>

  <div class="buttons">
        <button mat-button type="button" (click)="irParaTabela()" class="alimentos-button">Alimentos</button>
        <button mat-button type="button" (click)="irParaCalendario()" class="calendario-button">Calendário</button>
        <button mat-button type="button" (click)="irParaRelatorio()" class="relatorio-button">Relatórios</button>
    </div>

  <button mat-button type="button" (click)="irParaPerfil()" class="perfil-button">Perfil</button>

</div>
